<!-- Footer -->
<footer class="bg-gray-800 text-white py-4 mt-auto">
    <div class="container mx-auto text-center">
      <p>&copy; 2025. All rights reserved. <%=user.name%></p>
    </div>
  </footer>

  <!-- JavaScript for Hamburger Menu -->
  <script>
    const hamburger = document.getElementById('hamburger');
    const mobileMenu = document.getElementById('mobileMenu');

    hamburger.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  </script>

</body>
</html>