<!-- Footer (Fixed at Bottom) -->
<footer class="bg-black text-white text-center py-4 w-full mt-auto">
    <p class="text-lg">&copy; 2025 Naira Swap. All rights reserved.</p>
</footer>

<script>
    const menuBtn = document.getElementById('menu-btn');
    const menu = document.getElementById('menu');

    menuBtn.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>